body{
    font-family: Arial, sans-serif;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.card-img-top{
    height:220px;
    object-fit:cover;
}

.carousel img{
    object-fit:cover;
}

footer{
    margin-top:50px;
}

.navbar-brand{
    font-weight:bold;
}

@media(max-width:768px){

    .card-img-top{
        height:180px;
    }

}